/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {
    -fx-background-color: #303030;
}

.tituloBar{
    -fx-background-color: #212121;
}

#btn_cerrar{
    -fx-text-fill: #FFC107;
}

#paginaOI{
    -fx-text-fill: #FFFFFF;
}
#paginaOI:hover{
    -fx-text-fill: #FFC107;
    -fx-cursor: hand;
}